*{
    padding:0px;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary:#080708;
    --secondary:#3e3d3d;
    --accent:#ff6425;
    --accent2:#c41a1a;
    --light:#ffffff;
}

html{
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto:wght@300;400;700&display=swap');

nav{
    display:flex;
    justify-content: center;
    background-color:transparent;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

nav ul{
    display:flex;
    align-items: space-between;
}

nav ul li{
    list-style: none;
    padding:20px;
}

nav ul a{
    text-decoration: none;
    font-weight:400;
    color:var(--light);
    padding:5px;
    border-bottom:2px solid var(--light);
}

.home-button{
    width:8.5%;
    margin:25px;
    margin-top:10px;
}

.logo{
    width:100%;
}

.title-head{
    text-decoration: none;
    font-weight:700;
    font-size:50px;
    color:var(--light);
    text-align:center;
}

.title{
    text-decoration: none;
    font-weight:700;
    font-size:150px;
    color:var(--light);
    text-align:center;
}

.home{
    height: 100vh;
}

.title-box{
    margin:0 auto;
    display: block;
}

.home ul li{
    color:var(--light);
    font-size:15px;
    text-align: center;
}

body{
    background-image: url(imgs/engine-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.page-right{
    background-image: url(imgs/red-hellcat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:120vh;
    display: flex;
    justify-content: right;
}

.page-left{
    background-image: url(imgs/ford-race.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:120vh;
    display: flex;
    justify-content: left;
}

.page-left-2{
    background-image: url(imgs/drift-balck-green.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:120vh;
    display: flex;
    justify-content: left;
}

.content-right{
    margin:auto 20px;
    width:30%;
    color:var(--primary);
    padding:20px;
    background-color: var(--light);
    border:solid var(--light) 5px;
    border-radius: 10px;
}

.content-left{
    margin:auto 20px;
    width:30%;
    color:var(--primary);
    padding:20px;
    background-color: var(--light);
    border:solid var(--light) 5px;
    border-radius: 10px;
}

.title-small{
    color:var(--secondary);
    font-size:50px;
}

.button{
    color:var(--light);
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    padding:5px;
    margin:20px auto;
    background-color: var(--accent2);
    border:solid var(--accent2) 5px;
    border-radius: 10px;
    text-decoration: none;
}

.button-2{
    color:var(--light);
    display: block;
    margin:0 auto;
    padding:0px 2px;
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    border:solid var(--primary) 2px;
    border-radius: 20px;
    text-decoration: none;
    width:3%;
}

.arrow-down{
    width:100%;
}

footer{
    background-color: var(--secondary);
    padding:10px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    border-bottom: solid 5px var(--light);
}

.info-list{
    list-style: none;
    text-align: center;
    color: var(--light);
    margin:20px;
}

.footer-lists{
    display: flex;
}

.footer-list{
    list-style: none;
}

.footer-list li{
    margin:10px 40px;
}

.footer-list li a{
    color:var(--light);
}

.footer-img-link{
    margin:20px;
}

.footer-img{
    width:25%;
    padding:30px 0;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
}

.footer-title{
    text-align: center;
    margin:auto 0;
    font-weight:700;
    font-size:50px;
    color:var(--light);
}